body{
    background-color:rgb(174, 116, 185);
}

ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 67px;
    
    position: absolute;
    width: 554px;
    height: 84px;
    left: 1630px;
    top: 0px;    
}
.logo {
    position: absolute;
width: 140px;
height: 100px;
left: 15px;
top: 0px;

}